<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urlShortnerApp</title>
</head>
<body>
    <form action="/" method="post">
        <label for="longURL">Paste a long URL</label>
        <input type="text" name="longURL" id="longURL">
        <button type="submit">Generate Short URL</button>
    </form>
</body>
</html>